[defaults]
inventory = inventory/hosts.yml
roles_path = roles:~/.ansible/roles
host_key_checking = True
retry_files_enabled = False
gathering = smart
fact_caching = memory
stdout_callback = default
bin_ansible_callbacks = true
result_format = yaml
display_skipped_hosts = False
log_path = ~/.ansible/homelab-infra.log

[inventory]
enable_plugins = yaml

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=known_hosts
pipelining = True
